@{
    ViewBag.Title = "QRCode Test";
}
<h2>@ViewBag.Title.</h2>

<p>QRCode test:</p>
@ViewBag.Image
<hr />
<img src="data:image/png;base64, @ViewBag.ImageAsBase64" style="width: 250px; height: 250px;" alt="QRCode" />